doctype html
head
  title MinoSport: Reset Password
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
form(action='http://localhost:8080/reset_password' method='POST')
  input(type='hidden' name='username' value=username)
  |             New Password:
  br
  input#password1(type='password' name='password1' placeholder='Type your new password')
  br
  |             Repeat New Password:
  br
  input#password2(type='password' name='password2' placeholder='Repeat your new password')
  br
  input#submit(type='submit' value='Change Password')
  br
